.phone{
  max-width: 400px;
  padding: .75rem;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.75);
}

.nadeshikoPhone{
  border: solid 1px rgb(157, 155, 30);
  background-color: rgb(197, 194, 59);
}

.rinPhone{
  border: solid 1px rgb(50, 122, 152);
  background-color: rgb(72, 172, 214);
}

.phone .phoneHeader{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: black;
  border-radius: 10px 10px 0 0;
}

.phone .phoneHeader p{
  color: white;
  font-size: 0.85rem;
}

.phone .phoneScreen{
  padding: 0.5rem;
  border-radius: 0 0px 10px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.85) inset;
}

.nadeshikoPhone .phoneScreen{
  border: solid 1px rgb(157, 155, 30);
  background-image: url("https://lh3.googleusercontent.com/V-c8-uFS0WaW4uIjh4Xg3uCVsyMyjXV4CtIq3i0uhna45kW7t2qdLRKdPzAMz863nOhVJ-Fqb5hWoOIB5EdBI0SyFZJdpZWbbqZSaiyPyPE2X1IdnKeg4eSrdlZu1KlDPhzJY3Kc6w=w2400");
  background-size: cover;
}

.rinPhone .phoneScreen{
  border: solid 1px rgb(50, 122, 152);
  background-image: url("https://lh3.googleusercontent.com/0yyjSrRWJJKzf_ll_KoGzK4SSY4t-1jj2vqRw1MpB_x7_fMQj-B0tJske2D4iLAWTWhs5ROFj0Q9C4OPIV7eSrxI-28Gta6UuFiWQ4hrLWpC5xUfVP3jss3JDoc5QPOmBu1wITP2bw=w2400");
  background-size: cover;
}

.phone .phoneScreen .textBallon{
  display: flex;
}

.phone .phoneScreen .textBallon .characterImg{
  width: 25%;
  max-height: 2.5rem;
}

.phone .phoneScreen .textBallon .nadeshiko{
  background-image: url("https://lh3.googleusercontent.com/tkgTFd8z0rJ633TMuX4Yq5tCLb-bff-kIaG50I47fmsAyTOy3S26waghEOjoFZWCCTVvX_oaPLgeYiLzJ1i2NELeoWoblJRP6rqm4l6WEf48NoVhlbqkrN5kTkfFYCFS18pUEuB85w=w2400");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.phone .phoneScreen .textBallon .nadeshiko2{
  background-image: url("https://lh3.googleusercontent.com/Uj2cFXPNBgsmEClxfhwcdUdi8X4IIDcsQ4tNlPVSj_dNu-SusPUEjqYkxUCSbEdHXZ8z3Iz-lxW-jwdv499uLiB7ukvqHm_M0MMPEfM60S_A9dj1kYcip6-c93gfPhqGIYruUKA5Ew=s110-p-k");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.phone .phoneScreen .textBallon .rin{
  background-image: url("https://lh3.googleusercontent.com/BBknpOB1jAvw-4TmnFjgGVHyn6mgc0_cD5AIXIdL-pQXulRQU46s5yXgujx91L0uBpryXLdnFaqGy70q2gNA0ihmJGLeXXCubd1P664r8c7B8Z9tRM-z80fyLjhix6vGi9KSbKTpPg=w2400");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.phone .phoneScreen .textBallon .rin2{
  background-image: url("https://lh3.googleusercontent.com/HpAqyE1oCf3c-cJeFQh9bFldKtY-bkchLlYAaT7ygIr2MrlCXUMROTn2VKDDt5wxBmYsfmMtRpug3X49Tz5fJEzrEnX62B--0VWr5Ht9eh-yRkzlnej9QV9yx3e_Ve0J-XifI6kDFQ=w2400");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.phone .phoneScreen .textBallon .message{
  font-size: 0.85rem;
  max-width: 75%;
  padding: 0.75rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.96);
}

.phone .phoneScreen .textBallon .nadeshikoMessage{
  border: solid 2px rgb(176, 205, 255);
  box-shadow: 5px 5px 10px 0px rgba(233, 254, 254, 0.75);
}

.phone .phoneScreen .textBallon .rinMessage{
  border: solid 2px rgb(255, 255, 255);
  box-shadow: 5px 5px 10px 0px rgba(106, 106, 106, 0.75);
}

.nadeshikoPhone .phoneScreen .rinTextBallon{
  flex-direction: row-reverse;
}

.nadeshikoPhone .phoneScreen .rinextBallon .message{
  text-align: right;
}

.rinPhone .phoneScreen .nadeshikoTextBallon{
  flex-direction: row-reverse;
}

.rinPhone .phoneScreen .nadeshikoTextBallon .message{
  text-align: right;
}

.phoneScreen .nadeshikoTextBallon .nadeshikoImg img{
  width: 100%;
  border-radius: 8px;
}

.phoneScreen .rinTextBallon .rinImg img{
  width: 100%;
  border-radius: 8px;
}