@import "Tema_Light.css";
/* @import "Tema_Dark.css"; */
/*@import "interface.css";*/
@import "cards_styles.css";
@import "nav_styles.css";

:root {
  --tiempoAnimacion: 20s;
  --besier:cubic-bezier(.56,.31,.42,.68);
}

* {
  box-sizing: border-box;
}

body {
  /* Body style and background configuration */
  background-color: var(--color_primario);
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

/*Warapper to limited content max width*/
.content-wrapper {
  max-width: 1600px;
  margin: auto;
}

.main{
  height: 98vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  margin: 0.5rem;
  border: solid;  
  border-width: 5px;
  border-color: black;
  border-radius: 10px;
  background-color: var(--color_backGround);
  background-image: url("/Images/Wallpaper/BackgroundTexture.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-warapper{
  order: 1;
  position: relative;
  padding: 0;
  margin: 0;
  /*background-image: 
  url("/Wallpaper/Hojas_Sup1_BG.png"),
  url("/Wallpaper/Hojas_Sup2_BG.png"),
  url("/Wallpaper/Pasto_BG.png"),
  url("/Wallpaper/Arbol_BG_A.png"),
  url("/Wallpaper/Hojas_Fondo1_BG.png"),
  url("/Wallpaper/Hojas_Fondo2_BG.png"); */
}

.header{
  width: 100%;
  height: 10vh;
  /*border: solid;
  border-width: 4px;
  border-color: blue;*/
}

.content{
  width: 100%;
  height: 10vh;
  /*border: solid;
  border-width: 4px;
  border-color: grey;*/
}

.footer{
  width: 100%;
  height: 10vh;
  /*border: solid;
  border-width: 4px;
  border-color: greenyellow;*/
}


.inner_background{
  position:absolute;
  
  top: 0px;
  width: 100%;
  height: 100%;
  /*
  border: solid;
  border-width: 5px;
  border-color: red;*/
}

.bacground_layer_1{
  z-index: 1;

  position:absolute;
  width: 100%;
  height: 100%;

  background-image: url("/Images/Wallpaper/Hojas_Fondo1_BG.png");
  background-size: 75%;
  background-repeat: repeat;
  
  animation-name: animation_4;
  animation-delay: -6s;
  animation-duration: var(--tiempoAnimacion);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function:var(--besier);
  
/*
  border: solid;
  border-width: 5px;
  border-color: blueviolet;*/
}

.bacground_layer_2{
  z-index: 2;

  position:absolute;
  width: 100%;
  height: 100%;

  background-image: url("/Images/Wallpaper/Hojas_Fondo2_BG.png");
  background-size: 75%;
  background-repeat: repeat;
  
  animation-name: animation_3;
  animation-delay: -3s;
  animation-duration: var(--tiempoAnimacion);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function:var(--besier);
  
/*
  border: solid;
  border-width: 5px;
  border-color: greenyellow;*/
}

.bacground_layer_3{
  z-index: 3;

  position:absolute;
  width: 100%;
  height: 100%;

  background-image: 
  url("/Images/Wallpaper/Arbol_BG_A.png");
  background-size:cover;
  background-position:bottom;
  background-clip: content-box;
  background-repeat: no-repeat;
  

  /*border: solid;
  border-width: 5px;
  border-color: rgb(47, 196, 255);*/
}

.bacground_layer_4{
  z-index: 4;

  position:absolute;
  width: 100%;
  height: 100%;

  background-image: 
  url("/Images/Wallpaper/Pasto_BG.png");
  background-size:cover;
  background-position:bottom;
  background-clip: content-box;
  background-repeat: no-repeat;
  

  /*border: solid;
  border-width: 5px;
  border-color: rgb(61, 47, 255);*/
}

.bacground_layer_5{
  z-index: 5;

  position:absolute;
  width: 100%;
  height: 100%;

  background-image: 
  url("/Images/Wallpaper/Fox_BG.png");
  background-size:cover;
  background-position:bottom;
  background-clip: content-box;
  background-repeat: no-repeat;
  

  /*border: solid;
  border-width: 5px;
  border-color: rgb(61, 47, 255);*/
}

.bacground_layer_6{
  z-index: 6;

  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("/Images/Wallpaper/Hojas_Sup1_BG.png");
  background-size: 75%;
  background-repeat: repeat;
  
  animation-name: animation_2;
  animation-delay: -9s;
  animation-duration: var(--tiempoAnimacion);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function:var(--besier);
/*
  border: solid;
  border-width: 5px;
  border-color: rgb(61, 47, 255);*/
}

.bacground_layer_7{
  z-index: 7;

  position: absolute;
  width:100%;
  height: 100%;

  background-image: url("/Images/Wallpaper/Hojas_Sup2_BG.png");
  background-size: 75%;
  background-repeat: repeat;

  animation-name: animation_1;
  animation-delay: -12s;
  animation-duration: var(--tiempoAnimacion);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function:var(--besier);
  /*
  border: solid;
  border-width: 5px;
  border-color: rgb(61, 47, 255);*/
}

@keyframes animation_1 {
  from {background-position: 0 0;}
  to {background-position: -300% 0}
}
@keyframes animation_2 {
  from {background-position: 0 0;}
  to {background-position: -300% 0}
}

@keyframes animation_3 {
  from {background-position: 0 0;}
  to {background-position: -300% 0}
}
@keyframes animation_4 {
  from {background-position: 0 0;}
  to {background-position: -300% 0}
}

/*

  Para que el background pueda rotar es necesaro que sea mas pequeño que el contenedor, se puso al 75% y con la opcion repeat para ocultar el reeinicio de la animacion logrando asi la continuidad de las hojas
  
  Como limitacion si el viewport se redimenciona las hojas cambian de tamaño segun el tamaño del vieport
*/


@media(max-width: 992px){

  .bacground_layer_3{
    background-position: 100% 50%;
  }

  .bacground_layer_5{
    background-position: 100% 50%;
  }
}

@media(min-width: 992px){
  .main{
    grid-template-columns: 1fr 17fr;
    grid-template-rows: 1fr;
  }

  .inner-warapper{
    order: 2;
  }
}