.cardRelated{
  position: relative;
  width: 100%;
  margin: 1rem auto;
  color: var(--color_text_card);
  box-shadow: var(--color_shadow_card);
}

.coverRelated{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.coverRelated img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.cardRelatedContent{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.portadaRelated{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.autorRelated{
  width: 50%;
  padding: 0.25rem;
  box-shadow: var(--color_shadow_card_content);
  border-radius: var(--border__radius_card_autor);
  background-color: var(--color_background_card);
}

.tituloRelated{
  width: 80%;
  align-self: center;
  text-align: left;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  box-shadow: var(--color_shadow_card_content);
  border-radius: var(--border__radius_card);
  background-color: var(--color_background_card);
}

.tituloRelated p{
  margin: 0.5rem;
  font-size: 0.7rem;
  text-align: right;
}

.lomoRelated{
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  background-color: var(--color_background_card);
}

.lomoRelated h1{
  text-align: center;
  font-size: 1.5rem;
}

.contraPortadaRelated{
  display: none;
}

.sinopsisRelated{
  height: 7rem;
  margin: auto;
  padding: 0.5rem;
  text-align: justify;
  overflow: hidden;
  box-shadow: var(--color_shadow_card_content);
  border-radius: var(--border__radius_card);
  background-color: var(--color_background_card);
}

.shareRelated{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
  padding: 0.5rem;
  box-shadow: var(--color_shadow_card_content);
  border-radius: var(--border__radius_card);
  background-color: var(--color_background_card);
}

.shareRelated a{
  text-decoration: none;
  color: var(--color_icons_card);
}

.shareRelated a:hover{
  color: var(--color_icons_card_active);
}

.cardRelated:hover{
  box-shadow: var(--color_shadow_card_active);
}

.cardRelated:hover .portadaRelated{
  display: none;
}

.cardRelated:hover .lomoRelated{
  display: none;
}

.cardRelated:hover .cardRelatedContent{
  grid-template-columns: 1fr;
}

.cardRelated:hover .contraPortadaRelated{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  margin: auto;
}

@media(min-width: 1025px){
  .sinopsisRelated{
    height: 12rem;
  }
}
