.cardBlog{
  position: relative;
  margin: 2rem auto;
  color: var(--color_text_card);
  box-shadow: var(--color_shadow_card);
}

.coverBlog{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.coverBlog img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.cardBlogContent{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.portadaBlog{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.autorBlog{
  width: 50%;
  padding: 0.25rem;
  box-shadow: var(--color_shadow_card_content);
  border-radius: var(--border__radius_card_autor);
  background-color: var(--color_background_card);
}

.tituloBlog{
  width: 80%;
  align-self: center;
  text-align: left;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  box-shadow: var(--color_shadow_card_content);
  border-radius: var(--border__radius_card);
  background-color: var(--color_background_card);
}

.tituloBlog p{
  margin: 0.5rem;
  font-size: 0.7rem;
  text-align: right;
}

.lomoBlog{
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  background-color: var(--color_background_card);
}

.contraPortadaBlog{
  display: none;
}

.sinopssBlog{
  max-height: 75%;
  margin: auto;
  padding: 0.5rem;
  text-align: justify;
  overflow: hidden;
  box-shadow: var(--color_shadow_card_content);
  border-radius: var(--border__radius_card);
  background-color: var(--color_background_card);
}

.shareBlog{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
  padding: 0.5rem;
  box-shadow: var(--color_shadow_card_content);
  border-radius: var(--border__radius_card);
  background-color: var(--color_background_card);
}

.shareBlog a{
  text-decoration: none;
  color: var(--color_icons_card);
}

.shareBlog a:hover{
  color: var(--color_icons_card_active);
}

.cardBlog:hover{
  box-shadow: var(--color_shadow_card_active);
}

.cardBlog:hover .portadaBlog{
  display: none;
}

.cardBlog:hover .lomoBlog{
  display: none;
}

.cardBlog:hover .cardBlogContent{
  grid-template-columns: 1fr;
}

.cardBlog:hover .contraPortadaBlog{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  margin: auto;
}

@media(min-width: 992px){

.cardBlogContent{
  grid-template-columns: 7fr 1fr 7fr;
}

.contraPortadaBlog{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  margin: auto;
}

.sinopssBlog{
  max-height: 10rem;
}

.cardBlog:hover .portadaBlog{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardBlog:hover .lomoBlog{
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  background-color: var(--color_background_card);
}

.cardBlog:hover .cardBlogContent{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 7fr 1fr 7fr;
}

.cardBlog:hover .contraPortadaBlog{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  margin: auto;
}

}
