header{
  position: sticky;
  top: -1px;
  z-index: 9;
  height: 3rem;
  width: 98%;
  margin: 0.5rem auto;
  padding: 1rem;
  color: var(--color_secundario);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: solid 1px var(--color_extra_1);
  border-radius: var(--border__radius);
  box-shadow: var(--color_shadow);
  background: var(--color_gradiente_menu);
}

nav{
  position: fixed;
  top: 7rem;
  right: 0;

  border: solid 1px var(--color_extra_1);
  padding: 1rem;

  border-radius: var(--border__radius);
  box-shadow: var(--color_shadow);
  background: var(--color_gradiente_menu);

  transform: translateX(150%);
  transition: transform 250ms ease-in-out;
}

nav a{
  text-decoration: none;
}

nav ul{
  list-style-type: none;
  text-align: right;
}

nav li{
  margin: 1rem;
}

nav span{
  color: var(--color_extra_3);
}

nav a:hover{
  border-bottom: solid 3px var(--color_extra_2);
}

nav a:active{
  border-bottom: solid 3px var(--color_extra_3);
}

input[type=checkbox] {
    display: none;
}

.toogle_Btn{
  cursor: pointer;
  z-index: 9;
  margin: 0.5rem;
  height: 25px;
  width: 25px;
}

.line{
  margin-top: 3px;
  height: 3px;
  background-color: var(--color_extra_2);
}

.toogle_Btn:active .line{
 box-shadow: var(--color_shadow_active);
}

.toogle_Btn_2{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  margin-bottom: 1rem;
  height: 40px;
  width: 60px;

  border: solid 1px var(--color_extra_1);
  border-radius: 0 10px 10px 0;
  box-shadow: var(--color_shadow);
  background-color: var(--color_primario);
}

.line_1{
  height: 5px;
  width: 40%;
  background-color: var(--color_extra_2);
  transform-origin: 75%;
  transform: rotate(45deg);
}

.line_2{
  height: 5px;
  width: 40%;
  background-color: var(--color_extra_2);
  transform-origin: 75%;
  transform: rotate(-45deg);
}

.toogle_Btn_2:active .line_1{
 box-shadow: var(--color_shadow_active);
}

.toogle_Btn_2:active .line_2{
 box-shadow: var(--color_shadow_active);
}

@media(min-width: 992px){
  header{
      width: 100%;
      z-index: 2;
  }

  nav{
    position: static;

    border: none;
    box-shadow: none;
    background: none;

    transform: initial;
  }

  nav ul{
    list-style-type: none;
    text-align: center;
  }

  nav li{
    display: inline-block;
  }

  .toogle_Btn{
    display: none;
  }

}
