@import "Mode.css";
@import "header.css";

* {
  box-sizing: border-box;
}

/*Variables para paleta de colores*/

body {
  /* Body style and background configuration */
  background-color: var(--color_terciario);
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

/*Warapper to limited content max width*/
.content-wrapper {
  max-width: 1600px;
  margin:auto;
  /*all body is set as a column with display grid property*/
  display: grid;
  grid-row-gap: 0;
  grid-template-columns: auto;
}

a{
  color: var(--color_secundario);
}

.main{
  display: flex;
  flex-direction: row-reverse;
}

.content{
  width: 100%;
  padding: 1rem;
}

.index_Nav{
  position: fixed;
  z-index: 9;
  left: 0;
  width: 40%;

  display: flex;
  flex-direction: column;

  padding: 0.5rem;
  height: 30rem;
}

.index_links{

  padding: 0.5rem;
  height: 75%;
  overflow-y: scroll;

  border: solid 1px var(--color_extra_1);
  border-radius: var(--border__radius);
  box-shadow: var(--color_shadow);
  background: var(--color_gradiente_menu);

  transform: translateX(-150%);
  transition: transform 250ms ease-in-out;
}

.index_links a{
  text-decoration: none;
}

.index_links a:hover{
  border-bottom: solid 3px var(--color_extra_2);
}

.index_links a:active{
  border-bottom: solid 3px var(--color_extra_3);
}

.index_links ul{
  list-style-type: none;
  text-align: left;
}

.index_links li{
  display: inline-block;
  width: 90%;
  margin: 1rem 0.5rem;
}

/*Scrollbar personaliztion*/
.index_links::-webkit-scrollbar {
    width: .5rem;     /* Tamaño del scroll en vertical */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb*/
.index_links::-webkit-scrollbar-thumb {
    background: var(--color_extra_3);
    border-radius: 8px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover*/
.index_links::-webkit-scrollbar-thumb:hover {
    background: var(--color_extra_2);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Ponemos un color de fondo y redondeamos las esquinas del track*/
.index_links::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

.index_Share{

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 1rem;
  padding: 0.5rem;
  height: 10%;

  font-size: 1.5em;

  border: solid 1px var(--color_extra_1);
  border-radius: var(--border__radius);
  box-shadow: var(--color_shadow);
  background: var(--color_gradiente_menu);

  transform: translateX(-150%);
  transition: transform 250ms ease-in-out;

}

.icons_efects i{
  color: var(--color_extra_2);
}

.icons_efects i:hover{
  color: var(--color_extra_3);
}

.icons_efects i:active{
  color: var(--color_extra_2);
}

.footer_share{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  align-items: center;
  font-size: 1.5em;
}

.heroSlider{
  margin-top: 2rem;
}

#grid_articles{
  margin-top: 2rem;
}

.articles_Grid{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
}

footer{

  display: grid;
  gap: 1rem;
  align-items: center;
  grid-auto-rows: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));

  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  text-align: center;

  border: solid 1px var(--color_extra_1);
  border-radius: var(--border__radius);
  box-shadow: var(--color_shadow);
  background: var(--color_gradiente_menu);

}

footer p{
  color: var(--color_extra_3);
}

footer span{
  font-size: 1.5rem;
}


/*CheckBox Button media behavior*/

  input[type="checkbox"]:checked ~ nav {
      transform: translateX(-5%);
      transition: transform 250ms ease-in-out;
  }

  input[type="checkbox"]:checked ~ .index_links {
      transform: translateX(0%);
      transition: transform 250ms ease-in-out;
  }

  input[type="checkbox"]:checked ~ .index_Share {
      transform: translateX(0%);
      transition: transform 250ms ease-in-out;
  }

@media(min-width: 992px){
  .toogle_Btn_2{
    display: none;
  }

  .index_Nav{
    position: sticky;
    width: 25%;
    top: 8rem;
    z-index: 1;
  }

  .index_links{
    position: static;
    transform: initial;
  }

  .index_Share{
    position: static;
    transform: initial;
  }

  .main{
    flex-direction: row;
  }

}
