/*Variables para paleta de colores*/
:root {


  --color_title_index_card:#FF8700;
  --color_link_active_index_card:#8FE0F5;
  --color_icons_card_active: #FF8700;
  --color_shadow_card: 7px 7px 7px 3px rgba(107, 106, 104, 0.75);
  --color_shadow_card_active: 7px 7px 7px 3px rgba(255, 135, 0, 0.5);
  --border__radius_card: 5px;


}
